Define and register the moqt:// URL 

Do we want moq or moqt ?

On Mon, Oct 9, 2023 at 6:29 PM Cullen Jennings ***@***.***>
wrote:

> —
> Reply to this email directly, view it on GitHub
> <https://github.com/moq-wg/moq-transport/issues/268>, or unsubscribe
> <https://github.com/notifications/unsubscribe-auth/AAKVXZHISDN3DRZOMC3BZATX6QX77AVCNFSM6AAAAAA5ZEA6CKVHI2DSMVQWIX3LMV43ASLTON2WKOZRHEZTGNJQGYYDONQ>
> .
> You are receiving this because you are subscribed to this thread.Message
> ID: ***@***.***>
>


Shorter is better when it comes to names. So I'd suggest moq://

On Tue, Oct 10, 2023 at 5:10 PM Will Law ***@***.***> wrote:

> Shorter is better when it comes to names. So I'd suggest moq://
>
> BCP 35 (RFC 7595), section 3.8 has the guidance for selecting a scheme
name.  The reason we might prefer moqt is this:

   A scheme name is not a "protocol."  However, like a service name as
   defined in Section 5 of [RFC6335], it often identifies a particular
   protocol or application.  If a scheme name has a one-to-one
   correspondence with a service name, then the names SHOULD be the
   same.

The part of the system we're defining at this point is the transport, and
we expect there to be other parts of the overall MoQ ecosystem (the
mappings, the catalog formats, and so on).  Specifying that this refers to
the transport itself may be useful if any other part of the system would
also like to use URIs  as identifiers.

Neither of them seems likely to collide with other uses any time soon, so I
don't think we need to make the decision urgently, so it may be useful to
consider whether any other bits will want their own schemes before we
commit to this scheme name.



> —
> Reply to this email directly, view it on GitHub
> <https://github.com/moq-wg/moq-transport/issues/268#issuecomment-1755769073>,
> or unsubscribe
> <https://github.com/notifications/unsubscribe-auth/AAKVXZAYBUDBZFY6SCOCHXDX6VXQ7AVCNFSM6AAAAAA5ZEA6CKVHI2DSMVQWIX3LMV43OSLTON2WKQ3PNVWWK3TUHMYTONJVG43DSMBXGM>
> .
> You are receiving this because you commented.Message ID:
> ***@***.***>
>


+1 to Ted. Let's use `moqt://` for the transport and save `moq://`, probably for the media layer.

I'm perfectly happy with either.