Is there any reason to use 2MSB in x(tuple) in Track namespace?

At this time, x(tuple) is only used in Track namespace, but Track namespace is limited to 32.
The 2MSB defined in RFC9000 can be used up to 62 bits, but since the Track namespace is limited to 32 bits, the 2MSB is effectively used only for 00.
In Track namespace, 8 bits are sufficient to represent N, so why not use 8 bits to represent N?
It is easier to understand than expressing with 2MSB.



```
x (tuple): Indicates that x is a tuple, consisting of a variable length integer encoded as described in ([RFC9000], Section 16), followed by that many variable length tuple fields, each of which are encoded as (b) above.

Track namespace is an ordered N-tuple of bytes where N can be between 1 and 32. The structured nature of Track Namespace allows relays and applications to manipulate prefixes of a namespace. Track name is a sequence of bytes.
```

Rejected; this has no change in the wire image at all, and would require people to change their code. The presented reasons are not compelling enough to cause this change.